<div>
    <main class="container">
    <h2>About Us</h2>
    <p>Welcome to Coupon Management System! We are dedicated to providing a seamless and user-friendly platform for managing and exchanging coupons. Our goal is to make your coupon management experience convenient and efficient.</p>
    
    <p>At Coupon Management System, we understand the importance of saving money and getting the most out of your purchases. Our platform allows you to easily add, view, and trade coupons, making it a breeze to take advantage of great deals and discounts.</p>
    
    <p>Our team is passionate about creating a positive and engaging environment for coupon enthusiasts. Whether you're looking for discounts on your favorite products or want to trade coupons with others, we've got you covered.</p>
    
    <p>Join our community today and start exploring the world of coupons like never before. Feel free to reach out to our friendly support team if you have any questions or need assistance. Thank you for choosing Coupon Management System!</p>
  </main>
</div>
  <footer class="footer">
    <p>&copy; 2023 Coupon Management System. All rights reserved.</p>
  </footer>
  