<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg p-3 mb-5 bg-body rounded">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="assets/jio.png" alt="" width="40" height="40" class="d-inline-block align-top">
          Coupons Management System
        </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tradedcoupons" href="#">Traded Coupons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup" href="#">Signup</a>
        </li>
      </ul>   
    </div></div>
</nav>
<router-outlet></router-outlet>




 
<footer class="bg-white">
  <div class="container py-5">
      <div class="row py-3">
          <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
              <h6 class="text-uppercase font-weight-bold mb-4">About</h6>
              <ul class="list-unstyled mb-0">
                  <li class="mb-2"><a href="contact" class="text-muted">Contact Us</a></li>
                  <li class="mb-2"><a href="about" class="text-muted">About Us</a></li>
                  <li class="mb-2"><a href="#" class="text-muted">Stories</a></li>
                  <li class="mb-2"><a href="#" class="text-muted">Press</a></li>
              </ul>
          </div>
          <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
              <h6 class="text-uppercase font-weight-bold mb-4">Help</h6>
              <ul class="list-unstyled mb-0">
                  <li class="mb-2"><a href="#" class="text-muted">Payments</a></li>
                  <li class="mb-2"><a href="#" class="text-muted">Shipping</a></li>
                  <li class="mb-2"><a href="#" class="text-muted">Cancellation</a></li>
                  <li class="mb-2"><a href="#" class="text-muted">Returns</a></li>
              </ul>
          </div>
          <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
              <h6 class="text-uppercase font-weight-bold mb-4">Policy</h6>
              <ul class="list-unstyled mb-0">
                  <li class="mb-2"><a href="#" class="text-muted">Return Policy</a></li>
                  <li class="mb-2"><a href="#" class="text-muted">Terms Of Use</a></li>
                  <li class="mb-2"><a href="#" class="text-muted">Security</a></li>
                  <li class="mb-2"><a href="#" class="text-muted">Privacy</a></li>
              </ul>
          </div>
          <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
              <h6 class="text-uppercase font-weight-bold mb-4">Rjio</h6>
              <ul class="list-unstyled mb-0">
                  <li class="mb-2"><a href="login" class="text-muted">Login</a></li>
                  <li class="mb-2"><a href="signup" class="text-muted">Register</a></li>
                  <li class="mb-2"><a href="#" class="text-muted">Sitemap</a></li>
                  <li class="mb-2"><a href="#" class="text-muted">Our Products</a></li>
              </ul>
          </div>
          <div class="col-lg-4 col-md-6 mb-lg-0">
              <h6 class="text-uppercase font-weight-bold mb-4">Head Quarters : Navi Mumbai </h6>
              <p class="text-muted mb-4"> Reliance Corporate Park, No.8 A Wing, 1st Floor, 5 TTC Industrial Area, Thane Belapur Road, Ghansoli, Navi Mumbai – 400701.;+91-22-44770000</p>
              <ul class="list-inline mt-4">
                  <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fab fa-2x fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fab fa-2x fa-facebook-f"></i></a></li>
                  <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fab fa-2x fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fab fa-2x fa-youtube"></i></a></li>
                  <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fab fa-2x fa-google"></i></a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>